* {
    box-sizing: border-box;
    margin: 0px;
    border: solid black 2px;
}

.GameContainer {
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 640px;
    margin: 10px;
}

.GridContainer {
    height: 640px;
    width: 640px;
    margin: 10px;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(8, 1fr);
}

.title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
}

.title h1 {
    text-align: center;
}

