* {
    box-sizing: border-box;
    margin: 0px;
    /* border: solid black 2px; */
}

/* Trying out custom CSS properties */
:root {
    --bgcolor: #F0EBE3;
    --accentcolor: #E4DCCF;
    --txtcolor: #7D9D9C;
    --bdrcolor: #576F72;
}

body {
    background-color: var(--bgcolor);
}

#maintitle {
    font-family: 'Signika', sans-serif;
    text-decoration: underline;
    text-align: center;
}

.GridContainer {
    border: solid black 4px;
}

.GameContainer {
    display: flex;
    width: 700px;
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: solid black 4px;
    box-shadow: 5px 5px 0 black;
    background-color: var(--accentcolor);
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 640px;
    margin: 10px;
}

.ButtonContainer button {
    margin-bottom: 10px;
}

.GridContainer {
    height: 640px;
    width: 640px;
    margin: 10px;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(8, 1fr);
}

.title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    border: solid black 4px;
    background-color: var(--accentcolor);
}

#gridchange {
    margin-bottom: 5px;
    margin-left: 10px;
}

button {
    width: 80px;
    height: 40px;
    border: solid black 3px;
    background-color: var(--txtcolor);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: var(--bdrcolor);
    color: white;
}
